In [3]:
import pandas as pd

In [30]:
import numpy as np

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
pd.__version__

'2.3.1'

In [7]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [9]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [15]:
df.isnull()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9699,False,False,False,False,False,False,False,False,False,True,False
9700,False,True,False,False,False,False,False,False,False,False,False
9701,False,False,False,False,False,False,False,False,False,False,False
9702,False,False,False,False,False,False,False,False,False,False,False
9703,False,False,False,False,False,False,False,False,False,False,False

In [13]:
df['fuel_efficiency_mpg'].max()

np.float64(25.96722204888372)

In [17]:
median_hp_before = df['horsepower'].median()
print("Median horsepower (before filling):",median_hp_before)

Median horsepower (before filling): 149.0

In [18]:
mode_hp = df['horsepower'].mode()
print("Most frequent horsepower value:",mode_hp)

Most frequent horsepower value: 0    152.0
Name: horsepower, dtype: float64

In [21]:
df['horsepower'] = df['horsepower'].fillna(mode_hp)

In [22]:
median_hp_after = df['horsepower'].median()
print("Median horsepower (after filling):",median_hp_after)

Median horsepower (after filling): 149.0

In [23]:
if median_hp_after>median_hp_before:
    print("Yes, it increased")
elif median_hp_after<median_hp_before:
    print("Yes, it decreased")
else:
    print("No, it stayed the same")

No, it stayed the same

In [24]:
df_asia = df[df['origin'] == 'Asia']

In [25]:
df_subset = df_asia[['vehicle_weight','model_year']]

In [26]:
df_final = df_subset.head(7)

In [27]:
X = df_final.to_numpy()

In [28]:
XTX = X.T@X

In [31]:
XTX_inv = np.linalg.inv(XTX)

In [34]:
y = np.array([1100, 1300, 900, 90, 1000, 1100, 1200])

In [35]:
w = (XTX_inv@X.T)@y

result = w.sum()

In [37]:
result = w.sum()

In [38]:
print(f"The vector of weights w is: {w}")
print(f"The sum of all elements is: {result}")

The vector of weights w is: [ 0.37733629 -0.07617755]
The sum of all elements is: 0.30115873771014046